---
import { SocialIcons } from '@/components/icons/social-icons';
import { Button } from '@/components/ui/button';
import { siteConfig } from '@/config/site';
import { REPOSITORY_CONSTANTS } from '@/constants';

type Props = {
  filePath?: string;
};

const { filePath } = Astro.props;

const GITHUB_EDIT_URL_BASE = `${siteConfig.links.github}/${REPOSITORY_CONSTANTS.NAME}/blob/${siteConfig.repository?.branch ?? 'main'}/`;

/**
 * GitHubで記事の修正を提案するボタンコンポーネント
 *
 * このコンポーネントはブログ記事やドキュメントページに表示され、
 * クリックするとGitHub上の該当ファイルを開いて修正提案を行えるようにします。
 * filePathが指定されていない場合や、GitHubのURLが設定されていない場合は何も表示されません。
 */

const shouldShow = filePath && siteConfig.links.github && siteConfig.repository?.branch;
const editUrl = shouldShow ? `${GITHUB_EDIT_URL_BASE}${filePath}` : '';
---

{shouldShow && (
  <Button variant='outline' size='sm' asChild client:load>
    <a href={editUrl} target='_blank' rel='noopener noreferrer'>
      <SocialIcons.github className='mr-2 size-4' client:load />
      GitHubで修正を提案する
    </a>
  </Button>
)}
